## data are exported
export(
"catlg128.8to15",
"catlg128.16",
"catlg128.17",
"catlg128.18",
"catlg128.19",
"catlg128.20",
"catlg128.21",
"catlg128.22",
"catlg128.23",
"catlg128.24",
"catlg128.25",
"catlg128.26to33"
)

## import catalogue related functionality from FrF2
## S3 methods for generics from package base do not need to be imported,
##    because the package depends on FrF2
importFrom(FrF2, "nruns", "nfac", "nclear.2fis",
            "clear.2fis","all.2fis.clear.catlg",
            "res","WLP","dominating",
            "CIG","CIGstatic","catlg","Yates", "gen2CIG")